  body{
  background-color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.tweet{
  background-color: #ffffff; 
  display: block;
  width: 600px;
  margin:0 auto;
  /*
    margin:10px 20px 10px 20px; asignando valore en 4 direcciones en el orden de las manesillas del reloj
    margin:10px; asignando un solo valor en las 4 direcciones
    margin:10px 20px; asignando un valor en el eje vertical y otro en el horizontal
  */
  padding:20px;
}

.tweet .tweet-header{
  overflow: hidden;
  /*
    overflow: hidde; fuerza al elemento a envolver todo su contenido y además oculta todo lo que exeda su alto.
  */
}

.tweet .tweet-header .avatar{
  width: 60px;
  height: 60px;
  background-color:#ccc;
  border-radius: 30px;
  float:left;
}

.tweet .tweet-header .user{
  float: left;
  margin: 10px 0 0 15px;
}

.tweet .tweet-header .account-name{
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.tweet .tweet-header .user-name{
  font-weight: normal;
  font-size: 18px;
  color: #999999;
}

.tweet .tweet-header .follow {
  display: block;
  border:1px solid red;
  border-radius: 50px;
  width: 100px;
  text-align: center;
  padding:6px 0;
  color:red;
  text-decoration:none;
  float: right;
}

.tweet .tweet-header .follow:hover {
  background-color: red;
  color: white;
}

.limpiador{
  clear: both;
  /*
    referencia al padre para que pueda envolver a los hijos flotantes.  
  */
}