  body {
    background-color: #999;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tweet {
    display:block;
    background-color: #fff;
    width: 600px;
    padding: 25px;
    margin: 0 auto;
  }

  .tweet .tweetHeader{
    overflow: hidden;
  }

  .tweet .tweetHeader .icon {
    display: block;
    background-color: #999;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    float: left;
    margin: 0;
  }

  .tweet .tweetHeader .user{
    float: left;
    margin: 10px 0 0 15px;
  }

  .tweet .tweetHeader .user .account {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .tweet .tweetHeader .user .username {
    font-size: 15px;
    color: #ccc;
  }

  .tweet .tweetHeader .follow {
    display: block;
    float: right;
    border: 1px solid red;
    border-radius: 30px;
    padding: 10px 35px;
    text-decoration: none;
    color: red;
    text-align: center;
  }

  .tweet .tweetHeader .follow:hover{
    background-color: red;
    color: #fff;
  }

  .tweet .tweetText p{
    font-size: 25px;
    margin: 10px 0;
  }

  .tweet .tweetText .dateHour{
    font-size:15px;
    color: #ccc;
    margin: 0 0;
  }
  .tweet .tweetDetails{
    display:block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 40px;
    overflow: hidden;
    margin-top: 18px;
    margin-bottom: 0;
    }

  .tweet .tweetDetails .tweetStat{
    font-size: 15px;
    color: #ccc;
    float: left;
    margin: 0px 10px 0 0;
    line-height: 40px;
  }

  .tweet .tweetDetails span{
    font-weight: bold;
    color: #000;
  }

  .tweet .tweetDetails .iconList{
    display: block;
    overflow: hidden;
    height: 40px;
    border-left: 1px solid #ccc;
    margin: 0;
    padding: 5px 15px;
  }

  .tweet .tweetDetails .iconList li{
    list-style: none;
    display:block;
    float: left;
    background-color: #999;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    margin: 5px;
  }

  .tweet .interactions{
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
  }
  .tweet .interactions li,a{
    display: block;
    float: left;
    list-style: none;
    margin-right: 9px;
    text-decoration: none;
    color: #ccc;
    font-size:15px;
    font-weight: bold;
  }

  .tweet .interactions li,a:hover{
    color: blue;
  }

  .tweet .interactions .bottomInteractions{
    background-color: #999;
    border-radius: 7.5px;
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
  .tweet .interactions .bottomInteractions:hover{
    background-color: red;
  }

  .tweet .reply{
    overflow: hidden;
    
  }
  .tweet .reply .iconReply{
    display: block;
    float: left;
    background-color: #999;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin: 0px;
  }

  .tweet .reply .textReply{
    margin: 0 10px;
    border-radius: 10px;
    border: 1px solid rgb(238, 175, 175);
    padding: 0px 5px;
    width: 450px;
    line-height: 36px;
  }
